@import url(../EF-CSS-FRAMEWORK/extensions/design/fonts-gud30/entypo.css);
@charset "UTF-8";
/* Setup */
/*------------------------------------*\
    1.$DEFAULTS
\*------------------------------------*/
/*------------------------------------*\
    2.$BASE
\*------------------------------------*/
/*------------------------------------*\
    3.$TYPOGRAPHY
\*------------------------------------*/
/*------------------------------------*\
    4.$BRAND
\*------------------------------------*/
/*------------------------------------*\
    5.$OBJECTS
\*------------------------------------*/
/*------------------------------------*\
    6.$DESIGN EXTENSIONS
\*------------------------------------*/
/*------------------------------------*\
    7.$SPECIFIC MARKET SUPPORT
\*------------------------------------*/
/*------------------------------------*\
    8.$FRAMEWORK
\*------------------------------------*/
/*------------------------------------*\
    1.$DEFAULTS
\*------------------------------------*/
/*------------------------------------*\
    2.$BASE
\*------------------------------------*/
/*------------------------------------*\
    3.$TYPOGRAPHY
\*------------------------------------*/
/*------------------------------------*\
    4.$BRAND
\*------------------------------------*/
/*------------------------------------*\
    5.$OBJECTS
\*------------------------------------*/
/*------------------------------------*\
    6.$DESIGN EXTENSIONS
\*------------------------------------*/
/*------------------------------------*\
    7.$SPECIFIC MARKET SUPPORT
\*------------------------------------*/
/*------------------------------------*\
    $IMPORTS
\*------------------------------------*/
/**
 * Base styles; unclassed HTML elements etc.
 */
/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
/**
 * Create a fully formed type style (sizing and vertical rhythm) by passing in a
 * single value, e.g.:
 *
   `.font-size(10);`
 *
 * Thanks to @redclov3r for the `line-height` Sass:
 * twitter.com/redclov3r/status/250301539321798657
 */
/**
 * CSS arrows!!! But... before you read on, you might want to grab a coffee...
 *
 * This mixin creates a CSS arrow on a given element. We can have the arrow
 * appear in one of 12 locations, thus:
 *
 *       01    02    03
 *    +------------------+
 * 12 |                  | 04
 *    |                  |
 * 11 |                  | 05
 *    |                  |
 * 10 |                  | 06
 *    +------------------+
 *       09    08    07
 *
 * You pass this position in along with a desired arrow color and optional
 * border color, for example:
 *
 * `.arrow(top, left, red)`
 *
 * for just a single, red arrow, or:
 *
 * `.arrow(bottom, center, red, black)`
 *
 * which will create a red triangle with a black border which sits at the bottom
 * center of the element. Call the mixin thus:
 *
   .foo{
       background-color:#BADA55;
       border:1px solid #ACE;
       .arrow(top, left, #BADA55, #ACE);
   }
 *
 */
/**
 * Create global or selective box sizing rules based on the value passed
 *
 */
/*! normalize.css v2.1.0 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
/*
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block;
}
/*
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/*
 * Address styling not present in IE 8/9.
 */
[hidden] {
  display: none;
}
/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}
/*
 * Remove default margin.
 */
body {
  margin: 0;
}
/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}
/*
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts  in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/*
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/*
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/*
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}
/*
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
/*
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/*
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
/*
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap;
}
/*
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
/*
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/*
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}
/*
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}
/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0;
}
/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/*
 * 1. Correct `color not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}
/*
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}
/*
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}
/*
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}
/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
/*
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/*
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/*
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
/*
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/*
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/*
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}
/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*------------------------------------*\
    $MAIN
\*------------------------------------*/
html {
  font: 1.375em / 1.6363636363636365 Arial, sans-serif;
  overflow-y: scroll;
  min-height: 100%;
}
/*------------------------------------*\
    $RESET
\*------------------------------------*/
/**
     * Let’s make the box model all nice, shall we...?
     */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: #eeeeee;
  color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dd,
ol,
ul,
form,
fieldset,
legend,
table,
th,
td,
caption,
hr {
  margin: 0;
  padding: 0;
}
/**
 * Give a help cursor to elements that give extra info on `:hover`.
 */
abbr[title],
dfn[title] {
  cursor: help;
}
/**
 * Remove underlines from potentially troublesome elements.
 */
u,
ins {
  text-decoration: none;
}
/**
 * Apply faux underline via `border-bottom`.
 */
ins {
  border-bottom: 1px solid;
}
/**
 * So that `alt` text is visually offset if images don’t load.
 */
img {
  font-style: italic;
  vertical-align: middle;
}
/**
 * Give form elements some cursor interactions...
 */
label,
input,
textarea,
button,
select,
option {
  cursor: pointer;
}
.text-input:active,
.text-input:focus,
textarea:active,
textarea:focus {
  cursor: text;
  outline: none;
}
/**
 * Links
 */
a {
  color: #ffffff;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
}
/*------------------------------------*\
    $CLEARFIX
\*------------------------------------*/
/**
 * Micro clearfix, as per: css-101.org/articles/clearfix/latest-new-clearfix-so-far.php
 * Extend the clearfix class with Sass to avoid the `.cf` class appearing over
 * and over in your markup.
 */
.line:after,
.cf:after,
.nav:after,
.media:after {
  content: "";
  display: table;
  clear: both;
}
/*------------------------------------*\
    $SHARED
\*------------------------------------*/
/**
 * Where `margin-bottom` is concerned, this value will be the same as the
 * base line-height. This allows us to keep a consistent vertical rhythm.
 * As per: csswizardry.com/2012/06/single-direction-margin-declarations
 */
/**
 * Base elements
 */
h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
ul,
ol,
dl,
blockquote,
p,
address,
table,
fieldset,
figure,
pre,
.media {
  margin-bottom: 36px;
  margin-bottom: 1.63636364rem;
}
/**
 * `hr` elements only take up a few pixels, so we need to give them special
 * treatment regarding vertical rhythm.
 */
hr {
  margin-bottom: 34px;
  margin-bottom: 1.54545455rem;
}
/*------------------------------------*\
    $HEADINGS
\*------------------------------------*/
h1,
.alpha {
  font-size: 42px;
  font-size: 1.90909091rem;
  line-height: 1.71428571;
  font-family: 'Roboto Condensed', sans-serif;
}
h2,
.beta {
  font-size: 35px;
  font-size: 1.59090909rem;
  line-height: 1.02857143;
  font-family: 'Roboto Condensed', sans-serif;
}
h3,
.gamma {
  font-size: 20px;
  font-size: 0.90909091rem;
  line-height: 1.8;
  font-family: 'Roboto Condensed', sans-serif;
}
h4,
.delta {
  font-size: 18px;
  font-size: 0.81818182rem;
  line-height: 2;
  font-family: 'Roboto Condensed', sans-serif;
}
h5,
.epsilon {
  font-size: 16px;
  font-size: 0.72727273rem;
  line-height: 2.25;
  font-family: 'Roboto Condensed', sans-serif;
}
h6,
.zeta {
  font-size: 14px;
  font-size: 0.63636364rem;
  line-height: 2.57142857;
  font-family: 'Roboto Condensed', sans-serif;
}
.giga {
  font-size: 96px;
  font-size: 4.36363636rem;
  line-height: 96px;
}
.mega {
  font-size: 60px;
  font-size: 2.72727273rem;
  line-height: 60px;
}
.kilo {
  font-size: 48px;
  font-size: 2.18181818rem;
  line-height: 48px;
}
.milli {
  font-size: 12px;
  font-size: 0.54545455rem;
  line-height: 12px;
}
.micro {
  font-size: 10px;
  font-size: 0.45454545rem;
  line-height: 10px;
}
/*------------------------------------*\
    $TABLES
\*------------------------------------*/
table {
  width: 100%;
}
th,
td {
  padding: 9px;
  text-align: left;
}
/*------------------------------------*\
    $LISTS
\*------------------------------------*/
/**
 * Remove vertical spacing from nested lists.
 */
li > ul,
li > ol {
  margin-bottom: 0;
}
/**
 * Where `margin-left` is concerned we want to try and indent certain elements
 * by a consistent amount. Define that amount once, here.
 */
ul,
ol,
dd {
  margin-left: 72px;
  margin-left: 3.27272727rem;
}
/**
 * Objects and abstractions
 */
/*------------------------------------*\
    $HELPER
\*------------------------------------*/
/**
 * Add/remove floats
 */
.float--right {
  float: right!important;
}
.float--left {
  float: left !important;
}
.float--none {
  float: none !important;
}
/**
 * Text alignment
 */
.txtL,
.text--left {
  text-align: left  !important;
}
.txtC,
.text--center {
  text-align: center!important;
}
.txtR,
.text--right {
  text-align: right !important;
}
/**
 * Font weights
 */
.weight--light {
  font-weight: 300!important;
}
.weight--normal {
  font-weight: 400!important;
}
.weight--semibold {
  font-weight: 600!important;
}
/**
 * Add/remove margins
 */
.push {
  margin: 36px !important;
}
.push--top {
  margin-top: 36px !important;
}
.push--right {
  margin-right: 36px !important;
}
.push--bottom {
  margin-bottom: 36px !important;
}
.push--left {
  margin-left: 36px !important;
}
.push--ends {
  margin-top: 36px !important;
  margin-bottom: 36px !important;
}
.push--sides {
  margin-right: 36px !important;
  margin-left: 36px !important;
}
.push-half {
  margin: 18px !important;
}
.push-half--top {
  margin-top: 18px !important;
}
.push-half--right {
  margin-right: 18px !important;
}
.push-half--bottom {
  margin-bottom: 18px !important;
}
.push-half--left {
  margin-left: 18px !important;
}
.push-half--ends {
  margin-top: 18px !important;
  margin-bottom: 18px !important;
}
.push-half--sides {
  margin-right: 18px !important;
  margin-left: 18px !important;
}
.flush {
  margin: 0!important;
}
.flush--top {
  margin-top: 0!important;
}
.flush--right {
  margin-right: 0!important;
}
.flush--bottom {
  margin-bottom: 0!important;
}
.flush--left {
  margin-left: 0!important;
}
.flush--ends {
  margin-top: 0!important;
  margin-bottom: 0!important;
}
.flush--sides {
  margin-right: 0!important;
  margin-left: 0!important;
}
/**
 * Add/remove paddings
 */
.soft {
  padding: 36px !important;
}
.soft--top {
  padding-top: 36px !important;
}
.soft--right {
  padding-right: 36px !important;
}
.soft--bottom {
  padding-bottom: 36px !important;
}
.soft--left {
  padding-left: 36px !important;
}
.soft--ends {
  padding-top: 36px !important;
  padding-bottom: 36px !important;
}
.soft--sides {
  padding-right: 36px !important;
  padding-left: 36px !important;
}
.soft-half {
  padding: 18px !important;
}
.soft-half--top {
  padding-top: 18px !important;
}
.soft-half--right {
  padding-right: 18px !important;
}
.soft-half--bottom {
  padding-bottom: 18px !important;
}
.soft-half--left {
  padding-left: 18px !important;
}
.soft-half--ends {
  padding-top: 18px !important;
  padding-bottom: 18px !important;
}
.soft-half--sides {
  padding-right: 18px !important;
  padding-left: 18px !important;
}
.hard {
  padding: 0!important;
}
.hard--top {
  padding-top: 0!important;
}
.hard--right {
  padding-right: 0!important;
}
.hard--bottom {
  padding-bottom: 0!important;
}
.hard--left {
  padding-left: 0!important;
}
.hard--ends {
  padding-top: 0!important;
  padding-bottom: 0!important;
}
.hard--sides {
  padding-right: 0!important;
  padding-left: 0!important;
}
/*
CSS Name:   CSS grids. 
Description:  Can be used to break any space into fractions, they can be nested.
Notes:      This is a EF version of the original OOCSS grids. 
URL:      http://oocss.org/grids_docs.html
Author:     Yacine Belarbi
Created:    2012-04-11
*/
/* ------- DO NOT MODIFY THIS FILE, INSTEAD OVERRIDE PROPERTYS IN YOUR PAGE SPECIFIC STYLESHEET OR CREATE YOUR OWN CSS FILE ------- */
/* = GRIDS
---------------------------------------------------*/
/* .line:after{clear:both;display:block;visibility:hidden;overflow:hidden;height:0 !important;line-height:0;font-size:xx-large;content:" x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";}*/
.row:before,
.row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}
.row {
  *zoom: 1;
  margin: 0 -30px;
}
.unit {
  float: left;
  position: relative;
  min-height: 1px;
}
.size1of1 {
  float: none;
}
.size1of2 {
  width: 50%;
}
.size1of3 {
  width: 33.33333%;
}
.size2of3 {
  width: 66.66666%;
}
.size1of4 {
  width: 25%;
}
.size3of4 {
  width: 75%;
}
.size1of5 {
  width: 20%;
}
.size2of5 {
  width: 40%;
}
.size3of5 {
  width: 60%;
}
.size4of5 {
  width: 80%;
}
.size1of6 {
  width: 16.66667%;
}
.size5of6 {
  width: 83.333333%;
}
.ie7 .lastUnit {
  display: table-cell;
  float: none;
  width: auto;
  *display: block;
  *zoom: 1;
  _position: relative;
  _left: -3px;
  _margin-right: -3px;
}
/* 12column grid */
.span1 {
  width: 8.33%;
}
.span2 {
  width: 16.66%;
}
.span3 {
  width: 25%;
}
.span4 {
  width: 33.33%;
}
.span5 {
  width: 41.66%;
}
.span6 {
  width: 50%;
}
.span7 {
  width: 58.33%;
}
.span8 {
  width: 66.66%;
}
.span9 {
  width: 75%;
}
.span10 {
  width: 83.33%;
}
.span11 {
  width: 91.66%;
}
.span12 {
  width: 100%;
}
.no-boxsizing .unit-inner,
.unit {
  padding: 0 30px;
}
.no-boxsizing .unit {
  padding: 0;
}
/* ---- prefix ---- */
.prefix1of2 {
  margin-left: 50%;
}
.prefix1of3 {
  margin-left: 33.333333%;
}
.prefix2of3 {
  margin-left: 66.666666%;
}
.prefix1of4 {
  margin-left: 25%;
}
.prefix3of4 {
  margin-left: 75%;
}
.prefix1of5 {
  margin-left: 20%;
}
.prefix2of5 {
  margin-left: 40%;
}
.prefix3of5 {
  margin-left: 60%;
}
.prefix4of5 {
  margin-left: 80%;
}
.prefix1of6 {
  margin-left: 16.666667%;
}
.prefix5of6 {
  margin-left: 83.333333%;
}
/* ---- suffix ---- */
.suffix1of2 {
  margin-right: 50%;
}
.suffix1of3 {
  margin-right: 33.333333%;
}
.suffix2of3 {
  margin-right: 66.666666%;
}
.suffix1of4 {
  margin-right: 25%;
}
.suffix3of4 {
  margin-right: 75%;
}
.suffix1of5 {
  margin-right: 20%;
}
.suffix2of5 {
  margin-right: 40%;
}
.suffix3of5 {
  margin-right: 60%;
}
.suffix4of5 {
  margin-right: 80%;
}
.suffix1of6 {
  margin-right: 16.666667%;
}
.suffix5of6 {
  margin-right: 83.333333%;
}
/* ---- push ---- */
.push1of2 {
  left: 50%;
}
.push1of3 {
  left: 33.333333%;
}
.push2of3 {
  left: 66.666666%;
}
.push1of4 {
  left: 25%;
}
.push3of4 {
  left: 75%;
}
.push1of5 {
  left: 20%;
}
.push2of5 {
  left: 40%;
}
.push3of5 {
  left: 60%;
}
.push4of5 {
  left: 80%;
}
.push1of6 {
  left: 16.666667%;
}
.push5of6 {
  left: 83.333333%;
}
/* ---- pull ---- */
.pull1of2 {
  left: -50%;
}
.pull1of3 {
  left: -33.333333%;
}
.pull2of3 {
  left: -66.666666%;
}
.pull1of4 {
  left: -25%;
}
.pull3of4 {
  left: -75%;
}
.pull1of5 {
  left: -20%;
}
.pull2of5 {
  left: -40%;
}
.pull3of5 {
  left: -60%;
}
.pull4of5 {
  left: -80%;
}
.pull1of6 {
  left: -16.666667%;
}
.pull5of6 {
  left: -83.333333%;
}
/*------------------------------------*\
    $MEDIA
\*------------------------------------*/
/**
 * Place any image- and text-like content side-by-side, as per:
 * stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code
 * E.g.:
 *
   <div class=media>
       <img src=http://placekitten.com/200/300 alt="" class=media__img>
       <p class=media__body>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
       sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
   </div>
 *
 * Demo: jsfiddle.net/inuitcss/cf4Qs
 *
 */
.media {
  display: block;
  /* @extend .cf; */
}
.media__img,
.media .img {
  float: left;
  margin-right: 36px;
}
/**
     * Reversed image location (right instead of left).
     */
.media__img--rev {
  float: right;
  margin-left: 36px;
}
.media__img img,
.media__img--rev img {
  display: block;
}
.media__body,
.media .bd {
  overflow: hidden;
}
.media__body,
.media__body > :last-child,
.media .bd,
.media .bd > :last-child {
  margin-bottom: 0;
}
/**
 * Design includes
 */
/*------------------------------------*\
    $GUD 3.0
\*------------------------------------*/
* {
  -webkit-font-smoothing: antialiased;
}
/* HEADERS */
h1,
.alpha,
h2,
.beta,
h3,
.gamma,
h4,
.delta,
h5,
.epsilon,
h6,
.zeta {
  text-transform: uppercase;
}
h3 {
  margin: 0;
}
h4 {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: none;
  font-style: italic;
  font-weight: normal;
}
/* BUTTONS */
.button {
  border-radius: 0;
  text-transform: uppercase;
  font-size: 95%;
  min-width: 180px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
}
.button--magenta {
  background: #ec008c;
  color: #fff;
}
.button--magenta:hover {
  background: rgba(236, 0, 140, 0.7);
}
.button--magenta--outline {
  border: 1px solid #fff;
}
.button--magenta--outline:hover {
  background: #fff;
  background: rgba(255, 255, 255, 0.1);
}
.button--black {
  background: #000;
  color: #fff;
}
.button--black:hover {
  background: #000;
  background: rgba(0, 0, 0, 0.8);
}
.button--black--outline {
  border: 1px solid #fff;
}
.button--black--outline:hover {
  background: #fff;
  background: rgba(255, 255, 255, 0.3);
}
.button--white {
  background: #fff;
}
.button--white:hover {
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
}
.button--white--outline {
  border: 1px solid #000;
}
.button--white--outline:hover {
  background: #000;
  background: rgba(0, 0, 0, 0.1);
}
/* INLINE LINKS */
a {
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
/* LINK BUTTONS */
.link__normal {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 93%;
  text-decoration: none;
}
.link__normal:hover {
  text-decoration: underline;
}
/* ICONS */
.icon {
  font-family: "entypo";
  font-size: 30px;
  width: auto;
  height: auto;
  top: -1px;
}
.icon-back:before {
  content: "";
  margin-right: 10px;
}
.icon-forward:before {
  content: "";
  margin-left: 10px;
}
.icon-more:before {
  content: "➕";
  margin-left: 2px;
}
/**
 * Specific market includes
 */
/*

font-family:'HelveticaNeueW01-45Ligh';
font-family:'HelveticaNeueW01-46Ligh';
font-family:'HelveticaNeueW01-77BdCn 692722';
font-family:'HelveticaNeueW31-Light';
font-family:'HelveticaNeueW31-LightI';
font-family:'Helvetica Neue W31';
font-family:'HelveticaNeueW31-Italic';
font-family:'Helvetica Neue W31 Bold';
font-family:'HelveticaNeueW31-BoldIt';
font-family:'HelveticaNeueW82-Light';
font-family:'HelveticaNeueW82-Regula';
font-family:'Helvetica Neue W82 Bold';
font-family:'Helvetica World W01';
font-family:'HelveticaWorldW01-Itali';
font-family:'HelveticaWorldW01-Bold';
font-family:'HelveticaWorldW01-BdIt';
font-family:'HelveticaNeueLTW20-Ligh';
font-family:'HelveticaNeueLTW20-Roma';
font-family:'HelveticaNeueLTW20-Bold';


*/
html {
  overflow: hidden;
  font-family: Georgia;
  font-style: italic;
}
html,
body,
form {
  height: 100%;
  width: 100%;
  color: #fff;
  background: #000;
}
body {
  overflow: hidden;
}
.wrapper {
  height: 100%;
}
#mainVideo {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  height: auto;
  width: auto;
  z-index: 1;
  top: 0;
  left: 0;
}
.full-screen-image {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  height: auto;
  width: auto;
  z-index: 1;
  top: 0;
  left: 0;
}
.vert-align {
  display: table;
  width: 800px;
  height: 100%;
  position: relative;
  z-index: 99999;
  margin: 0 auto;
}
.vert-align__inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.full-screen-section {
  height: 100%;
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.full-screen-section__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
h1 {
  font-style: normal;
}
h2 {
  font-style: normal;
  margin-bottom: 18px;
}
ul,
ol,
li {
  list-style: none;
  margin: 0;
}
hr {
  height: 1px;
  background: #fff;
  box-shadow: none;
  border: none;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}
hr.short {
  border: 0;
  height: 2px;
  width: 200px;
  background: rgba(255, 255, 255, 0.6);
  margin-left: auto;
  margin-right: auto;
}
.hr-progress__box {
  border: 1px solid #fff;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 36px;
}
.hr-progress__bar {
  background: #fff;
  height: 3px;
  margin: 0;
}
.hr-progress__bar--1of6 {
  width: 16.666666666%;
}
.hr-progress__bar--2of6 {
  width: 33.333333333%;
}
.hr-progress__bar--3of6 {
  width: 50%;
}
.hr-progress__bar--4of6 {
  width: 66.666666666%;
}
.hr-progress__bar--5of6 {
  width: 83.3333333%;
}
.hr-progress__bar--6of6 {
  width: 100%;
}
.hr-progress__bar.size1of1 {
  width: 100%;
}
.button {
  text-transform: none;
  font-weight: normal;
  padding: 0;
  min-width: initial;
  display: inline-block;
}
.button span {
  display: block;
  padding-bottom: 10px;
  cursor: text;
}
.button--text {
  text-decoration: none;
  font-size: 93%;
}
.icon--button {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50px;
  margin: 0 0 20px;
  color: rgba(255, 255, 255, 0.8);
}
/* Effect 5 */
.icon--circle {
  box-shadow: 0 0 0 2px #ffffff;
  overflow: hidden;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
.button--play:focus {
  outline: none;
  text-decoration: none;
}
.button--play:focus .icon--circle,
.button--play:hover .icon--circle,
.icon--circle:hover {
  background: none;
  color: #fff;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.6);
  cursor: pointer;
}
.icon--circle:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.icon--circle:before {
  font-size: 43px;
  line-height: 43px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  display: block;
  -webkit-font-smoothing: antialiased;
}
.icon--down:before {
  content: "";
}
.icon--replay:before {
  content: "🔙";
}
.icon--down:before {
  content: "";
}
.icon--play {
  vertical-align: top;
}
.icon--play:before {
  content: "";
  text-indent: 1px;
}
.button--play:hover {
  cursor: pointer;
}
.button--play {
  text-decoration: none;
  display: inline-block;
  visibility: hidden;
}
.button--play span {
  padding: 8px;
  font-size: 25px;
  font-family: georgia;
  font-style: italic;
  margin: 0 12px 5px;
  display: block;
}
.icon--circle:after {
  display: none;
}
.icon--down:hover:before {
  -webkit-animation: toBottomFromTop 0.3s forwards;
  -moz-animation: toBottomFromTop 0.3s forwards;
  animation: toBottomFromTop 0.3s forwards;
}
.icon--up:hover:before {
  -webkit-animation: toTopFromBottom 0.3s forwards;
  -moz-animation: toTopFromBottom 0.3s forwards;
  animation: toTopFromBottom 0.3s forwards;
}
.icon--up:before {
  line-height: 48px;
}
.button--icon {
  text-decoration: none;
  display: inline-block;
  font-style: normal;
}
.icon--social {
  font-family: 'entypo-social';
  font-style: normal;
  font-size: 55px;
}
.icon--facebook:before {
  content: "";
}
.icon--twitter:before {
  content: "";
}
.intromessage {
  margin-top: -72px;
}
.intromessage li {
  display: none;
}
.article-start__title,
.article-start__line,
.article-start__desc,
.article-start__btn {
  opacity: 0;
}
.article-start__desc {
  margin-bottom: 72px;
}
.section-playingPlaylist .vert-align__inner,
.section-playPlaylist .vert-align__inner,
.article-outromessage .vert-align__inner {
  vertical-align: top;
  position: relative;
  top: 20%;
}
.full-screen-section__inner:nth-child(1) {
  z-index: 1000;
}
.full-screen-section__inner:nth-child(2) {
  z-index: 500;
}
.full-screen-section__inner:nth-child(3) {
  z-index: 100;
}
.article-outromessage {
  background: #000;
}
.article-loading {
  background: #000;
  z-index: 2;
}
.input-share[type="text"] {
  cursor: text;
  width: 400px;
  margin: 0 auto;
  max-width: none;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  background: none;
  color: #fff;
  padding: 0px 5px 5px;
  font-size: 14px;
  text-align: center;
}
.input-share[type="text"]:focus {
  box-shadow: none;
}
.name-field__inputarea.ready:focus,
.name-field__inputarea {
  position: relative;
  padding: 0 20px;
  border-bottom: 1px solid #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  font-size: 42px;
  vertical-align: top;
  min-width: 60px;
}
.name-field__inputarea:focus {
  outline: none;
  opacity: 0.6;
}
.name-field__inputarea.ready {
  font-size: inherit;
  border: none;
}
#mainAudio {
  display: none;
}
#volumeCtrl {
  display: none;
  width: 80px;
  height: 1px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  z-index: 999999999;
  -webkit-appearance: none;
  background: #fff;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 1px 1px 7px #000;
  margin-left: -40px;
}
#volumeCtrl:focus {
  outline: none;
}
.subtitles {
  margin: 0;
  font-family: Georgia;
  font-size: 45px;
  line-height: 55px;
  font-style: italic;
  list-style: none;
}
.subtitles li {
  display: none;
}
.link-list li:after {
  content: "";
  width: 40px;
  display: block;
  margin: 0 auto;
  height: 1px;
  background: #fff;
}
.link-list li:last-child:after {
  display: none;
}
.link-list a {
  text-decoration: none;
}
.link-list a span {
  margin: 15px 0;
  position: relative;
  display: inline-block;
  -webkit-transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  /* easeOutQuint */
}
.link-list a span::after,
.link-list a span::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 15px;
  margin-top: -7px;
  background: url(../img/icon-tick--thin.png) no-repeat;
  left: 0;
  opacity: 0;
  top: 50%;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
.link-list a span::after {
  background: url(../img/icon-tick--thick.png) no-repeat;
  width: 0;
  -webkit-transition: all 800ms cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition: all 800ms cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: all 800ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 800ms cubic-bezier(0.075, 0.82, 0.165, 1);
  /* easeOutCirc */
}
.link-list a.active span,
.link-list a:hover span {
  -webkit-transform: translateX(5px);
  -moz-transform: translateX(5px);
  -ms-transform: translateX(5px);
  -o-transform: translateX(5px);
  transform: translateX(5px);
}
.link-list a.active span::after {
  width: 20px;
}
.link-list a.active span::before,
.link-list a.active span::after,
.link-list a:hover span::before,
.link-list a:hover span::after {
  opacity: 1;
  -webkit-transform: translateX(-30px);
  -moz-transform: translateX(-30px);
  -ms-transform: translateX(-30px);
  -o-transform: translateX(-30px);
  transform: translateX(-30px);
}
@-webkit-keyframes toBottomFromTop {
  49% {
    -webkit-transform: translateY(100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}
@-webkit-keyframes toTopFromBottom {
  49% {
    -webkit-transform: translateY(-100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(100%);
  }
  51% {
    opacity: 1;
  }
}
