@charset "UTF-8";

/* Setup */
@import "../EF-CSS-FRAMEWORK/defaults";
@import "_vars";
@import "../EF-CSS-FRAMEWORK/init";

.spinner {
  width: 30px;
  height: 30px;
  background-color: rgba(255,255,255,0.9);

  margin: 10px auto;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}


@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

html { overflow: hidden; font-family: Georgia; font-style: italic; }

html, body {
	height: 100%;
	width: 100%;
	color: #fff;
	background: #000;
}

hr {
	height: 1px;
	background: #fff;
	box-shadow: none;
	border: none;
	width: 250px;
	margin-left: auto;
	margin-right: auto;
}

h1 input[type="text"] {
	display: inline-block;
	background: none;
	border: none;
	box-shadow: none;
	text-align: center;
	text-transform: uppercase;
	padding: 0;
	width: 200px;
	border-bottom: 8px solid #fff;
	color: #fff;
}
h1 { font-style: normal; }
h2 { margin: 5px 0 10px; text-shadow: 0 0 30px rgba(0,0,0,0.3); font-style: normal; }

.vert-align {
	display: table;
	width: 100%;
	height: 90%;
	position: relative;
	z-index: 99999;
}

.vert-align__inner {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.progress {
	overflow: hidden;
	width: 300px;
	border: 1px solid #fff;
	margin: 0 auto 40px;
}

.progress li {
	width: 14.2857143%;
	float: left;
	height: 3px;
	background: #fff
}

.progress li.active { background: #fff; }
.progress li.active ~ li { background: none; }

.touch #mainVideo { display: none; }

#mainVideo,
.full-screen-image {
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	height: auto;
	width: auto;
	z-index: 1;
	top: 0;
	left: 0;
}

hr.short {
	border: 0;
	height: 2px;
	width: 200px;
	background: rgba(255,255,255,0.6);
	margin-left: auto;
	margin-right: auto;
}

.wrapper {
	height: 100%;
}

body {overflow: hidden; }

.full-screen-section {
	height: 100%;
	text-align: center;
	position: relative;
	overflow: hidden;
}

.subtitles {
	margin: 0;
	font-family: Georgia;
	font-size: 55px;
	line-height: 66px;
	font-style: italic;
	position: fixed;
	top: 30%;
	z-index: 4;
	left: 50%;
	list-style: none;
	padding: 0;
	text-align: center;
	width: 700px;
	margin-left: -350px;
	margin-top: -30px;	
}

.subtitles li { display: none; }

.section-intro__desc {
	font-family: Georgia;
	font-size: 22px;
	font-style: italic;
}

.section-intro--content {
	opacity: 0;
	-webkit-transition: opacity 0.4s;
	-moz-transition: opacity 0.4s;
	-ms-transition: opacity 0.4s;
	-o-transition: opacity 0.4s;
	transition: opacity 0.4s;
}

.section-intro.active .section-intro--content {
	opacity: 1;
}

.section-intro--loader {
	position: relative;
	top: 90px;
}

.section-intro.active .section-intro--loader {
	opacity: 0;
}


.section-last img,
.section-last hr,
.section-last p {
	opacity: 0;
}

.section-last p { font-size: 22px; }

.icon--button {
	width: 40px;
	height: 40px;
	display: inline-block;
	border-radius: 50px;
	margin: 0 0 20px;
	color: rgba(255,255,255,0.8);
}

/* Effect 5 */
.icon--circle {
	box-shadow: 0 0 0 1px rgba(255,255,255,1);
	overflow: hidden;
	-webkit-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
	-moz-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
	transition: background 0.3s, color 0.3s, box-shadow 0.3s;
}
.button--play:hover .icon--circle,
.icon--circle:hover {
	background: none;
	color: #fff;
	box-shadow: 0 0 0 4px rgba(255,255,255,0.6);
	cursor: pointer;
}

.icon--circle:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	box-sizing: content-box;
}

.icon--circle:before {
	font-size: 43px;
	line-height: 43px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;	
}

	.icon--down:before {
		content: "";
	}

	.icon--up:before {
		content: "";
	}

	.icon--play {
		vertical-align: top;
	}
	.icon--play:before {
		content: "";
		text-indent: 1px;
	}

.loading-videos { margin: 0; font-size: 22px; }

.button--play:hover { cursor: pointer; }

.button--play {
	text-decoration: none;
	display: inline-block;
}
.button--play span {
	padding: 8px;
	font-size: 25px;
	font-family: georgia;
	font-style: italic;
	margin: 0 12px 5px;
	display: block;
}

.icon--circle:after {
	display: none;
}

.icon--down:hover:before {
	-webkit-animation: toBottomFromTop 0.3s forwards;
	-moz-animation: toBottomFromTop 0.3s forwards;
	animation: toBottomFromTop 0.3s forwards;
}

.icon--up:hover:before {
	-webkit-animation: toTopFromBottom 0.3s forwards;
	-moz-animation: toTopFromBottom 0.3s forwards;
	animation: toTopFromBottom 0.3s forwards;
}

.icon--up:before {
	line-height: 48px;
} 

@-webkit-keyframes toBottomFromTop {
	49% {
		-webkit-transform: translateY(100%);
	}
	50% {
		opacity: 0;
		-webkit-transform: translateY(-100%);
	}
	51% {
		opacity: 1;
	}
}

@-webkit-keyframes toTopFromBottom {
	49% {
		-webkit-transform: translateY(-100%);
	}
	50% {
		opacity: 0;
		-webkit-transform: translateY(100%);
	}
	51% {
		opacity: 1;
	}
}

.link-list { 
	font-family: georgia;
	font-style: italic;
	font-size: 22px;
	list-style: none;
	margin: 0 auto;
	max-width: 400px;
}

.link-list--scroll {
	position: relative;
	width: 350px;
	height: 480px;
	margin: 0 auto 50px;
	padding: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	list-style: none;
	-webkit-perspective: 400px;
	-moz-perspective: 400px;
	-ms-perspective: 400px;
	-o-perspective: 400px;
	perspective: 400px;
}

.link-list li:after {
	content: "";
	width: 40px;
	display: block;
	margin: 0 auto;
	height: 1px;
	background: #fff;
} 

.link-list li:last-child:after { display: none; }

.link-list a { 
	text-decoration: none; 
	text-shadow: 1px 1px 10px rgba(0,0,0,0.4); 
	overflow: hidden;
	display: inline-block;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);	
}  

.link-list a span { padding: 15px 0; } 
.link-list a span:before { padding: 15px 0; } 
// ============ LINK ANIMATION 1 ============ //

.link-list.ef1 a { 
	overflow: hidden;
	display: block;
}  

.link-list.ef1 a span {
position: relative;
display: inline-block;
-webkit-transition: -webkit-transform 0.3s;
-moz-transition: -moz-transform 0.3s;
transition: transform 0.3s;
}

.link-list.ef1 a span::before {
position: absolute;
top: 100%;
// content: attr(data-hover);
content: "✓";
font-family: "entypo";
-webkit-transform: translate3d(0,0,0);
-moz-transform: translate3d(0,0,0);
transform: translate3d(0,0,0);
text-align: center;
width: 100%;
font-size: 43px;
line-height: 85%;
}

.link-list.ef1 a.active span::before {
	color: #5DDB5D;
}

.link-list.ef1 a.active span,
.link-list.ef1 a:hover span, 
.link-list.ef1 a:focus span {
-webkit-transform: translateY(-100%);
-moz-transform: translateY(-100%);
transform: translateY(-100%);
}


// ============ LINK ANIMATION 2 ============ //

.link-list.ef2 a {
	color: rgba(0,0,0,0.2);
	text-shadow: none;
	position: relative;
}

.link-list.ef2 a::before {
	color: #fff;
	content: attr(data-hover);
	position: absolute;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

.link-list.ef2 a:hover::before,
.link-list.ef2 a:focus::before {
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	transform: scale(0.9);
	opacity: 0;
}
